.carousel-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 300px; 
}

.carousel-slide {
    flex: 0 0 100%;
    transition: transform 0.5s;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #651616;
    color: #ffc06d;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}