.carousel-container {
    position: center;
    width: 300px;
    height: 200px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-prev,.carousel-next {
    position: center;
    top: 50%;
    transform: translateY(-50%);
    background-color: #651616;
    color: #ffc06d;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}
