/* This file holds the style settings for the website. 
These are the settings that are constant and consistent throughout the website. 

These settings include:
fonts, colors, margins, paddinf etc

Color Coding
 *
 *garnet - #651616
 *text yellow - #ffc06d
 *font -'Vesper Libre', serif
 *
*/

html{
    font-family: 'Vesper Libre', serif;
    margin-left: 200px;
    margin-right: 200px;
}

head {
    background-color: #651616;
    color: #ffc06d;
    margin-left:  100px;
    margin-right: 100px;
}
header {
    display: flex;
    align-items: center;
}  
body {
    background-color: #651616;
    font-family: 'Vesper Libre', serif;
    color: #ffc06d;
    font-size: 16px;
}
footer {
    color: #ffc06d;
    bottom: 0;
    margin-left:  125px;
    margin-right: 100px;
    
}
nav {
    margin-left: auto;
    font-size: 20px;
    font-weight: bold;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 40px;
}
nav li {
    margin-left: 20px;
}
/*animation for when cursor goes over a specific link, it highlightens*/
nav li:hover {
    transform: scale(1.1);
}
/*navigation bar link*/
nav a {
    color: #ffc06d;
    text-decoration: none;
}
.search-bar {
    display: flex;
    align-items: end;
}
.search-bar input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}
.search-bar button {
    background-color: #ffc06d;
    color: #651616;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
