/*Color Coding
 *
 *garnet - #651616
 *text yellow - #ffc06d
 *font -'Vesper Libre', serif
 *
*/

header {
    display: flex;
    align-items: center;
}
head {
    background-color: #651616;
    font-family: 'Vesper Libre', serif;
    color: #ffc06d;
}
body {
    background-color: #651616;
    font-family: 'Vesper Libre', serif;
    color: #ffc06d;
    font-size: 16px;
}
footer {
    font-family: 'Vesper Libre', serif;
    color: #ffc06d;
}
nav {
    margin-left: auto;
    font-family: 'Vesper Libre', serif;
    font-size: 20px;
    font-weight: bold;
}
nav ul {
    display: flex;
    list-style: none;
    padding: 40px;
}
nav li {
    margin-left: 20px;
}
nav li:hover {
    transform: scale(1.1);
}
nav a {
    color: #ffc06d;
    text-decoration: none;
}
.search-bar {
    display: flex;
    align-items: end;
}
.search-bar input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
}
.search-bar button {
    background-color: #ffc06d;
    color: #651616;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-container {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 200px;
}
.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-slide img {
    width: 100%;
    height: 100%;
}
#prevBtn, #nextBtn {
    margin: 10px;
}



/*header {
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
}

    nav ul {
        display: flex;
        list-style: none;
        padding: 40px;
    }

    nav li {
        margin-left: 20px;
    }

    nav a {
        color: #000;
        text-decoration: none;
    }

.search-bar {
    display: flex;
    align-items: end;
}

    .search-bar input[type="text"] {
        padding: 5px;
        border-radius: 5px;
        border: none;
        margin-left: 5px;
    }*/
    /*        *garnet - #651616
        *text yellow - #ffc06d*/
    /*.search-bar button {
        background-color: #ffc06d;
        color: #651616;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }*/

